/* Declare variables */

:root {
    --cool-grey: #9493B7;
    --shadow: rgb(32, 32, 32, 0.6);
}

/* header styling for logo. nav and hero*/

  
h1 {
    font-size: 60px;
    font-weight: lighter;
    color: white;
}
  
nav {
    flex-direction: column;
    background: var(--shadow);
    box-shadow: 0px 5px 5px var(--shadow), 0px -5px 5px var(--shadow) ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0% 5%;
    width: 100%;
    margin-bottom: 5%;
}
  
.link-class {
    margin: 2%;
    width: fit-content;
    font-size: 25px;
    color: rgb(222, 222, 222);
    text-decoration: none;
}
  
.link-class:hover {
    text-decoration: underline;
    color: var(--cool-grey)
}

/* custom header section */

/* Navigation styles */

#navigation {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 350px;
}


  